absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
asyncer
attrs
Babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
defusedxml
distro
durationpy
executing
faiss-cpu
fastapi
fastjsonschema
ffmpy
filelock
filetype
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-auth
google-genai
google-pasta
googleapis-common-protos
gradio
gradio_client
greenlet
groq
grpcio
gunicorn
h11
h5py
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
imageio
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
lazy_loader
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mmh3
more-itertools
mpmath
multidict
mypy_extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy