Flask
Flask-Cors
gunicorn

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langsmith

qdrant-client

sentence-transformers
huggingface-hub

google-genai
groq

pandas
uuid
python-dotenv